@font-face {
    font-family: 'InstrumentSans Condensed Bold';
    src: url('InstrumentSans_Condensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Condensed Bold Italic';
    src: url('InstrumentSans_Condensed-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Condensed Italic';
    src: url('InstrumentSans_Condensed-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Condensed Medium';
    src: url('InstrumentSans_Condensed-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Condensed Medium Italic';
    src: url('InstrumentSans_Condensed-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Condensed Regular';
    src: url('InstrumentSans_Condensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Condensed SemiBold';
    src: url('InstrumentSans_Condensed-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Condensed SemiBold Italic';
    src: url('InstrumentSans_Condensed-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans SemiCondensed Bold';
    src: url('InstrumentSans_SemiCondensed-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans SemiCondensed Bold Italic';
    src: url('InstrumentSans_SemiCondensed-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans SemiCondensed Italic';
    src: url('InstrumentSans_SemiCondensed-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans SemiCondensed Medium';
    src: url('InstrumentSans_SemiCondensed-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans SemiCondensed Medium Italic';
    src: url('InstrumentSans_SemiCondensed-MediumItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans SemiCondensed Regular';
    src: url('InstrumentSans_SemiCondensed-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans SemiCondensed SemiBold';
    src: url('InstrumentSans_SemiCondensed-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans SemiCondensed SemiBold Italic';
    src: url('InstrumentSans_SemiCondensed-SemiBoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Bold';
    src: url('InstrumentSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Bold Italic';
    src: url('InstrumentSans-BoldItalic.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Italic';
    src: url('InstrumentSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Medium';
    src: url('InstrumentSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans Regular';
    src: url('InstrumentSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans SemiBold';
    src: url('InstrumentSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'InstrumentSans SemiBold Italic';
    src: url('InstrumentSans-SemiBoldItalic.ttf') format('truetype');
}